.individualProjectContainer {
    margin-left: 15vw;
    width: 70vw;
    margin-top: 3vw;
}

.individualProjectTitle {
    font-size: 2.5vw;
}

.indicidualProjectTechStack {
    font-size: 1.2vw;
}

.individualProjectAbout {
    font-size: 1.2vw;
}