@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;800&display=swap');

body {
    background-color: #C7FAEC;
}

.projectsPageContainer {
    font-family: 'JetBrains Mono', monospace;
}

.titleContainer {
    width: 100vw;
    text-align: center;
    font-size: 6vw;
    margin-top: 4vw;
}

.projectsDiv {
    margin-bottom: 3vw;
}