body {
    margin: 0;
    padding: 0;
    background-color: #FDFDF0;
}

.profileContainer {
    margin-left: 70%;
    margin-top: -4vw;
    z-index: 1;
    position: relative;
}

.profileContainer img {
    border-radius: 50%;
    filter: drop-shadow(5px 5px 3px #111111);
    width: 20vw;
}

.aboutMeTitle {
    margin-top: -20vw;
}

.aboutMeTitle h1{
    padding-left: 3.5vw;
    font-weight: 10;
    font-size: 6vw;
    position: relative;
    z-index: 1;
}

.aboutMeContentHalf {
    margin-top: -4vw;
    width: 65%;
    margin-left: 3.5vw;
}

.aboutMeContentHalf h2 {
    font-weight: 10;
    font-size: 2.2vw;
    position: relative;
    z-index: 1;
}

.aboutMeContentFull {
    margin-left: 3.5vw;
    margin-right: 3.5vw;
}

.aboutMeContentFull h2 {
    font-weight: 10;
    font-size: 2.2vw;
    position: relative;
    z-index: 1;
}

.aboutMeContentFull a {
    color: #a2d389;
    font-weight: 900;
    text-decoration: none;
}

.aboutMeContentFull a:hover {
    color: #111111;
    text-decoration: none;
}

@media screen and (max-width: 750px) {
    .profileContainer {
        display:none;
    }

    .aboutMeTitle {
        margin-top: -4vw;
    }

    .aboutMeContentHalf {
        width: 93vw;
    }
}